body {
    background-color: #ffd;
    font-family: Verdana, Helvetica, Arial, sans-serif;
}

.total {
    font-weight: bold;
    text-align: center;
}

table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}